config/*
*.pyc
config/database.ini
*.session
data/positions.db
exporter.py
MarketNews.session-journal
test.py
data/*.html

zipfiles/*.zip
util/tempdata/temp.json
test.py
util/Oct_1_2019_1m.pkl

Orata.bat
